# O problema de négocio - Compra e venda de imóveis

### O que a empresa faz?

A ***House Rocket*** é uma plataforma digital que tem como modelo de negócio, a compra e a venda de imóveis usando tecnologia.

### Qual o problema ela tem que resolver?

O CEO da House Rocket gostaria de maximizar a receita da empresa encontrando boas oportunidades de negócio.

### Qual a principal estratégia a ser adotada?

Sua principal estratégia é comprar boas casas em ótimas localizações com preços baixos e depois revendê-las posteriormente à preços mais altos. Quanto maior a diferença entre a compra e a venda, maior o lucro da empresa e portanto maior sua receita.

### Perguntas do CEO:

1. Quantas casas estão disponíveis para a compra?
2. Quantos atributos as casas possuem?(número de quartos, número de garagens, m2, etc)
3. Quais são os atributos?
4. Qual a casa mais cara do portfólio?
5. Qual a casa com o maior número de quartos?
6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas no conjunto de dados?
9. Qual o preço médio de casas com 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?
11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
12. Quantas casas tem mais de 2 andares?
13. Quantas casas tem vista para o mar?
14. Das casas com vista para o mar, quantas tem 3 quartos?
15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?


Os dados para análise são encontrados em: https://www.kaggle.com/harlfoxem/housesalesprediction/version/1?select=kc_house_data.csv

# Análise dos dados

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('datasets/kc_house_data.csv')

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 1 - Quantas casas estão disponíveis para a compra?

In [7]:
#1- selecionar a coluna 'id'
#2- contar o número de valores únicos

e1 = len(data['id'].unique())

print(f'Estão disponíveis {e1} casas para a compra.')

Estão disponíveis 21436 casas para a compra.

### 2 - Quantos atributos as casas possuem?

In [31]:
#considerando 'id' e 'date' como atributos:

e2 = data.shape[1]

print(f'As casas possuem {e2} atributos.')

As casas possuem 21 atributos.

In [32]:
#não considerando 'id' e 'date' como atributos:

e2 = len(data.drop(['id','date'], axis=1).columns)

print(f'As casas possuem {e2} atributos.')

As casas possuem 19 atributos.

### 3 - Quais são os atributos? (número de quartos, número de garagens, m2, etc)

In [42]:
e3 = data.drop(['id','date'], axis=1).columns.to_list()

print(f'Os atributos das casas são: {e3}')

Os atributos das casas são: ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

### 4 - Qual a casa mais cara do portfólio?

In [74]:
e4_1 = data[['id','price']].sort_values('price', ascending=False).reset_index( drop= True).loc[0,'id']

e4_2 = data['price'].max()

print(f'A casa mais cara do porfólio é a de índice {e4_1} e tem um valor de {e4_2:.2f}')

A casa mais cara do porfólio é a de índice 6762700020 e tem um valor de 7700000.00

### 5 - Qual a casa com o maior número de quartos?

In [56]:
e5_1 = data[['id','bedrooms']].sort_values('bedrooms', ascending=False).reset_index( drop= True).loc[0,'id']

e5_2 = data['bedrooms'].max()

print(f'A casa com maior número de quartos do porfólio é a de índice {e5_1} e ela possui {e5_2} quartos')

A casa com maior número de quartos do porfólio é a de índice 2402100895 e ela possui 33 quartos

### 6 - Qual a soma total de quartos do conjunto de dados?

In [67]:
e6 = data['bedrooms'].sum()

print(f'A soma total de quartos do conjunto de dados é de {e6} quartos.')

A soma total de quartos do conjunto de dados é de 72854 quartos.

### 7 - Quantas casas possuem 2 banheiros?

In [68]:
e7 = data[data['bathrooms'] == 2].shape[0]

print(f'O número de casas que possuem 2 banheiros é de {e7} casas.')

O número de casas que possuem 2 banheiros é de 1930 casas.

### 8 - Qual o preço médio de todas as casas no conjunto de dados?

In [73]:
e8 = data['price'].mean()

print(f'O preço médio de todas as casas do conjunto de dados é de {e8:.2f}')

O preço médio de todas as casas do conjunto de dados é de 540088.14

### 9 - Qual o preço médio de casas com 2 banheiros?

In [79]:
e9 = data[data['bathrooms'] == 2]['price'].mean()

print(f'O preço médio das casas com 2 banheiros é de {e9:.2f}')

O preço médio das casas com 2 banheiros é de 457889.72

### 10 - Qual o preço mínimo entre as casas com 3 quartos?

In [85]:
e10 = data[data['bedrooms'] == 3]['price'].min()

print(f'O preço mínimo das casas com 3 quartos é de {e10:.2f}')

O preço mínimo das casas com 3 quartos é de 82000.00

### 11 - Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [96]:
#os dados estão em pés(ft), tem que fazer a transformação para m2

data['m2'] = data['sqft_living'] * 0.093

e11 = data.loc[data['m2'] >300].shape[0]

print(f'O número de casas que possuem mais de 300 metros quadrados na sala de estar é de {e11} casas.')

O número de casas que possuem mais de 300 metros quadrados na sala de estar é de 2258 casas.

### 12 - Quantas casas tem mais de 2 andares?

In [101]:
e12 = data[data['floors'] > 2].shape[0]

print(f'O número de casas que possuem mais de 2 andares é de {e12} casas.')

O número de casas que possuem mais de 2 andares é de 782 casas.

### 13 - Quantas casas tem vista para o mar?

In [109]:
e13 = data[data['waterfront'] == 1].shape[0]

print(f'O número de casas que possuem vista para o mar é de {e13} casas.')

O número de casas que possuem vista para o mar é de 163 casas.

### 14 - Das casas com vista para o mar, quantas tem 3 quartos?

In [124]:
e14 = data[(data['waterfront'] == 1) & (data['bedrooms'] == 3)].shape[0]

print(f'O número de casas que possuem vista para o mar e 3 quartos é de {e14} casas.')

O número de casas que possuem vista para o mar e 3 quartos é de 64 casas.

### 15 - Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [132]:
e15 = data[(data['m2'] > 300) & (data['bathrooms'] > 2)].shape[0]

print(f'O número de casas que possuem mais de 300 metros quadrados de sala de estar e mais de 2 banheiros é de {e15} casas.')

O número de casas que possuem mais de 300 metros quadrados de sala de estar e mais de 2 banheiros é de 2201 casas.